<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Palavrix - Buscador de Sinônimos</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <h1 class="titulo">Palavrix</h1>
    <h3>Encontre palavras similares para enriquecer sua escrita!</h3>
    <form class="buscador" method="POST" action="/">
        <input class="botao-buscador" type="text" name="palavra" value="{{ palavra }}" placeholder="Digite uma palavra" />
        <input class="botao" type="submit" value="Buscar" />
    </form>

    <div class="resultado">
        {% if palavra %}
            <h2>Sinônimos para "{{ palavra }}":</h2>
            {% if sinonimos %}
                <ul>
                    {% for s in sinonimos %}
                        <li>{{ s }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Nenhum sinônimo encontrado.</p>
            {% endif %}
        {% endif %}
    <footer>
        <p>Todos os direitos reservados&copy; 2025
    </footer>
</body>
</html>
