<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Palavrix - Buscador de Sinônimos</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <main>
        <header class="cabecalho">
            <ul class="menu">
                <li><a href="/">Início</a></li>
                <li><a href="/about-project/">Sobre o projeto Palavrix</a></li>
                <li><a href="/about-we/">Quem Somos Nós</a></li>
            </ul>
        </header>
        <img class="logo" src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo Palavrix">
        <h3>Encontre palavras similares para enriquecer sua escrita!</h3>
        <form class="buscador" method="POST" action="/">
            <input class="botao-buscador" type="text" name="palavra" value="{{ palavra }}" placeholder="Digite uma palavra" />
            <input class="botao" type="submit" value="Buscar" />
        </form>

        <div class="resultado">
            {% if palavra %}
                <h2>Sinônimos para "{{ palavra }}":</h2>
                {% if sinonimos %}
                    <ul>
                        {% for s in sinonimos %}
                            <li>{{ s }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Nenhum sinônimo encontrado.</p>
                {% endif %}
            {% endif %}
        </div>
        <footer>
            <p class="acima">Trabalho de Conclusão de Curso - Grupo 3</p>
            <p>Escola da Nuvem</p>
            <p class="abaixo">Todos os direitos reservados&copy; 2025
        </footer>
    </main>
</body>
</html>
